@import 'variables.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'home.scss';
@import 'chart.scss';
@import 'global.scss';

#logo {
  max-height: 28px;
}

.btn-primary {
  color: map-get($theme-colors, "dark");
}

.spinner-grow {
  height: 6rem;
  width: 6rem;
}

.cbToggle {
  margin: 0 0.3rem;
  .btn {
    font-size: 0.7rem;
    padding: 0 0.25rem;
  }
}

.episodeRows {
  height: 1em;
  font-size: 0.5em;
  font-weight: bold;
  padding: 2.5em 0;
}

#results {
  [class*='col-']:hover {
    background-color: map-get($theme-colors, "light");
  }
  .poster {
    height: 220px;
    position: relative;
    display: block;
    & img {
      max-height: 100%;
    }
  }
}