@import 'variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  background-color: map-get($theme-colors, "dark");
  min-height: 100vh;
  display: flex;
  color: white;
  text-align: center;
}

#logo {
  max-height: 28px;
}

.btn-primary {
  color: map-get($theme-colors, "dark");
}

.spinner-grow {
  height: 6rem;
  width: 6rem;
}

#results {
  [class*='col-']:hover {
    background-color: map-get($theme-colors, "light");
  }
  .poster {
    height: 220px;
    position: relative;
    display: block;
    & img {
      max-height: 100%;
    }
  }
}

#ratings {
  font-size: calc(10px + 1.2vmin);
  transform-origin: 0 0;
  & > .row {
    white-space: nowrap;
    flex-wrap: nowrap;
    & > .col-1 {
      float: none;
      flex: 0 0 3.25em;
      max-width: 3.25em;
      display: inline-block;
    }
  }
}

[class*='rating'] {
  border: 1px solid white;
  text-align: center;
  position: relative;
  height: 2.5em;
  transform-origin: 0 0;
  transform: scale(1);
& a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: absolute;
    width: 100%;
    line-height: 2.5em;
  }
}

[class*='list-'] {
  text-align: center;
  margin: 0 0 0.25rem;
  padding: 0.1rem;
  line-height: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  & div {
    text-align: left;
    width: 1.8rem;
  }
  & a {
    text-decoration: none;
    color: #fff;
  }
}

@for $i from 1 through 10 {
  $clr: map-get($ratings, 3);
  @if $i > 3 {
    $clr: map-get($ratings, $i);
  }
  .rating-#{$i} { 
    background-color: $clr; 
  }
  .list-#{$i} {
    color: $clr;
    & a { color: $clr }
  }
}

.list-10, .rating-10 {
  text-shadow: 0 0 15px map-get($ratings, 10);
}
.rating-10 {
  box-shadow: 0 0 15px map-get($ratings, 10);
}

#examples {
  height: 36px;
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
  .slides {
    position: relative;
    bottom: 0;
    right: 0;
    animation: slide-animation 15s infinite;
  }
  & .slide {
    height: 36px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
  }
}

/* [ANIMATION] */
@keyframes slide-animation {
  0% { 
    opacity: 0;
    bottom: 0;
  }
  11% {
    opacity: 1;
    bottom: 0; 
  }
  22% { bottom: 100%; }
  33% { bottom: 100%; }
  44% { bottom: 200%; }
  55% { bottom: 200%; }
  66% { bottom: 300%; }
  77% { bottom: 300%; }
  88% {
    opacity: 1;
    bottom: 400%; 
  }
  100% {
    opacity: 0;
    bottom: 400%;
  }
}