@import 'variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

.App {
  background-color: #1d2025;
  min-height: 100vh;
  display: flex;
  color: white;
  text-align: center;
}

#ratings {
  font-size: calc(10px + 1.2vmin);
  transform-origin: 0 0;
  & > .row {
    white-space: nowrap;
    flex-wrap: nowrap;
    & > .col-1 {
      float: none;
      flex: 0 0 3.25em;
      max-width: 3.25em;
      display: inline-block;
    }
  }
}

[class*='rating'] {
  border: 1px solid white;
  text-align: center;
  position: relative;
  height: 2.5em;
  transform-origin: 0 0;
  transform: scale(1);
  & a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: absolute;
    width: 100%;
    line-height: 2.5em;
  }
}

[class*='list-'] {
  text-align: center;
  margin: 0 0 0.25rem;
  padding: 0.1rem;
  line-height: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  & div {
    text-align: left;
    width: 1.8rem;
  }
  & a {
    text-decoration: none;
    color: #fff;
  }
}

@for $i from 1 through 10 {
  $clr: map-get($ratings, 3);
  @if $i > 3 {
    $clr: map-get($ratings, $i);
  }
  .rating-#{$i} { 
    background-color: $clr; 
  }
  .list-#{$i} {
    color: $clr;
    & a { color: $clr }
  }
}

.list-10, .rating-10 {
  text-shadow: 0 0 15px map-get($ratings, 10);
}
.rating-10 {
  box-shadow: 0 0 15px map-get($ratings, 10);
}

.spinner-grow {
  height: 6rem;
  width: 6rem;
}
